.form {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Open Sans";
  color: #0f2137;
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  font-family: "Open Sans";
  font-size: 16px;
  border: 1px solid #e3e4e8;
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: calc(1.5 * 4px);
}

.input:focus {
  font-family: "Open Sans";
  outline: none;
  border: 1px solid #62bfad;
}

.textarea {
  resize: none;
  font-family: "Open Sans";
  font-size: 16px;
  border: 1px solid #e3e4e8;
  width: 100%;
  height: 120px;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: calc(1.5 * 4px);
}

.textarea:focus {
  font-family: "Open Sans";
  outline: none;
  border: 1px solid #62bfad;
}

.errorMessage {
  color: #b00000;
  margin: 20px 0;
  padding: 10px;
  border-radius: calc(1.5 * 4px);
  font-size: 13px;
  font-weight: bold;
  background: #b0000020;
}
