.product {
  color: #0f2137;
  background-color: #ffffff;
  border: 1px solid #e3e4e8;
  border-radius: calc(1.5 * 4px);
  padding: 16px 24px 8px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}

.product:last-child {
  margin-bottom: 0;
}

.productTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.productBody {
  margin: 0 0 16px;
}

.actionBar {
  display: flex;
  border-top: 1px solid #e3e4ee;
  padding-top: 8px;
}

.actionBarItem {
  border-radius: 10px;
  display: flex;
  font-size: 18px;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  border: none;
}

.actionBarItem:hover {
  background-color: #f4f5f9;
}

.actionBarItem:global(.active) {
  color: #62bfad;
}

.actionBarItemLabel {
  margin-left: 8px;
}
